tensorflow==2.21.0
keras==3.13.2
numpy==2.4.3
pandas==2.3.3
scikit-learn==1.8.0
scipy==1.17.1
h5py==3.14.0
opencv-python==4.13.0.92
Pillow==12.1.1
matplotlib==3.10.8
seaborn==0.13.2
tensorboard==2.13.0
grpcio==1.74.0
pyarrow==23.0.1
streamlit==1.55.0
requests==2.32.5
requests-oauthlib==2.0.0
oauthlib==3.3.1
joblib==1.5.3
protobuf==6.33.6
ml-dtypes==0.5.4
opt-einsum==3.4.0
absl-py==2.4.0
packaging==26.0
pytz==2026.1.post1
typing-extensions==4.15.0
